.top {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 5px 2px -5px rgb(180, 180, 180);
}
.logo1{
    width: 40px;
    height: 40px;
    margin-right: 100px;
}
.tp1{
    color: #002765;
    margin: 10px;
}
.tp1:hover {
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp2{
    color: #002765;
    margin: 10px;
}
.tp2:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp3{
    color: #002765;
    margin: 10px;
}
.tp3:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp4{
    color: #002765;
    margin: 10px;
}
.tp4:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp5{
    color: #002765;
    margin: 10px;
}
.tp5:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp6{
    color: #002765;
    margin: 10px;
}
.tp6:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp7{
    color: #002765;
    margin: 10px;
}
.tp7:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp8{
    color: #002765;
    margin: 10px;
}
.tp8:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.tp9{
    color: #002765;
    margin: 10px;
}
.tp9:hover{
    color: #5bccf6;
    cursor: pointer;
    transition: 0.1s;
}
.top-button1{
    width:100px;
    color: #e6e6e6;
    background-color: #dcb724;
    border:none;
    border-radius: 20px;
    height: 30px;
    float: right;
    margin-top: 7px;
    margin-left: 80px;
}
.top-button1:hover{
    background-color: #f4d763;
    cursor:pointer;
    transition: 0.1s;
    color: white;
}