.over{
    display: flex;
    flex-direction: row;
    width:100%;
    height:100vh;
}

.photo{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    width: 50%;
    display: flex;
    justify-content:center;
    justify-items: center;
    height:100vh;
}


.information{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding-left: 40px;
    width: 50%;
    height:100vh;
}

.photodimensions{
    padding-top:50px;
    width: 500px;
    height: 650px;
}

/*texts*/


.main-txt{
    font-family: Arial,sans-serif;
    font-size: 48px;
}

.internal-colors{
    display: flex;
    flex-direction: row;

}

.internal-memory{
    margin-top: 50px;
}

.internal-colors{
    margin-top: 50px;
}

.b1 {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 33px;
    width:100px;
    margin:15px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .b1:active {
    border-bottom-color: #a2a6ac;
  }
  
  .b1:active:hover {
    border-bottom-color: #a2a6ac;
  }
  
  .b1:hover {
    border-color: #a2a6ac #979aa1 #82858a;
  }
  
  .b1:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
  }



  .gray {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 33px;
    width:100px;
    margin:15px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .gray:active {
    border-bottom-color: #a2a6ac;
  }
  
  .gray:active:hover {
    border-bottom-color: #a2a6ac;
  }
  
  .gray:hover {
    border-color: #a2a6ac #979aa1 #82858a;
  }
  
  .gray:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
  }
  .blue {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 33px;
    width:100px;
    margin:15px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .blue:active {
    border-bottom-color: #a2a6ac;
  }
  
  .blue:active:hover {
    border-bottom-color: #a2a6ac;
  }
  
  .blue:hover {
    border-color: #a2a6ac #979aa1 #82858a;
  }
  
  .blue:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
  }
  .green {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 33px;
    width:100px;
    margin:15px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .green:active {
    border-bottom-color: #a2a6ac;
  }
  
  .green:active:hover {
    border-bottom-color: #a2a6ac;
  }
  
  .green:hover {
    border-color: #a2a6ac #979aa1 #82858a;
  }
  
  .green:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
  }



.txt1{
    text-decoration: none;
    color: #007185;
    font-size: 14px;
    font-family: Arial,sans-serif;
}
.stars{
    width:15px;
    height:15px;
}
.stardiv{
}
    
.txt2{
    text-decoration: none;
    color: #007185;
    font-size: 16px;
    font-family: Arial,sans-serif;
}